<!DOCTYPE html>
<html class="x-admin-sm" lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>我的预约记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <!--<a href="">首页</a>-->
        <!--<a href="">演示</a>-->
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <input type="text" hidden="hidden" id="stuId" th:value="${student.stuId}"/>
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="javascript:;">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="subject" id="subject" placeholder="请输入科目" autocomplete="off" class="layui-input">
            <input type="text" name="teaName" id="teaName" placeholder="请输入教练名" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn">预约记录</button>
      </xblock>

      <!--表格显示-->
      <table class="layui-hide" id="record"></table>

    </div>
    <script th:inline="javascript">
      var ctx = [[@{/}]]
    </script>
    <script type="text/javascript" th:inline="none">
      layui.use(['laydate', 'form', 'table'], function(){
        var laydate = layui.laydate,
            form = layui.form;
            table = layui.table;

         var stuId = $("stuId").val();
        //执行一个laydate实例
        laydate.render({
          elem: '#start', //指定元素
          trigger: 'click',  //必须有，否则则会自动关闭
          type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end', //指定元素
          trigger: 'click',  //必须有，否则则会自动关闭
          type: 'datetime'
        });

        //渲染表格
        var stuId = $('#stuId').val();
        table.render({
            elem: '#record',
            where: {stuId: stuId},
            url: ctx + 'student/recordListById',
            limits: [5, 10, 20, 30, 40, 50, 60, 70, 80, 90],
            response: {
                statusCode: 200, //成功的状态码，默认：0
                statusName: 'code' ,// 对应 code
                msgName: 'msg'  , // 对应 msg
                countName: 'count' , // 对应 count
                dataName: 'data'  // 对应 data
            }
            ,cols: [[
                // {type:'checkbox'},
                {field:'tea_name', title: '教练'}
                ,{field:'subject', title: '预约项目'}
                ,{field:'appointment_start', title: '预约开始时间', sort: true}
                ,{field:'appointment_end', title: '预约结束时间', sort: true}
                ,{field:'boarding_time', title: '上车时间', sort: true}
                ,{field:'alighting_time', title: '下车时间', sort: true}
                ,{field:'appointment_flag', title: '预约状态', sort: true, templet:function (d) {
                        var appointment_flag = d.appointment_flag;
                        if(appointment_flag == 1) {
                            appointment_flag = "预约中";
                        } else if(appointment_flag == 2) {
                            appointment_flag = "预约成功";
                        } else if(appointment_flag == 3){
                            appointment_flag = "已取消";
                        } else if(appointment_flag == 4){
                            appointment_flag = "已拒绝";
                        } else if(appointment_flag == 5){
                            appointment_flag = "已完成";
                        }
                        return appointment_flag;
                    }}
                ,{field:'create_date', title: '预约创建时间', sort: true},
                {field:'appointment_flag', title: '预约状态', templet:function (d) {
                        var appointment_flag = d.appointment_flag;
                        var id = d.id;
                        if(appointment_flag == 1 || appointment_flag == 2) {
                        appointment_flag = "取&nbsp;&nbsp;&nbsp;消&nbsp;";
                        var html = '<button id="cancle" type="button" class="layui-btn layui-btn-normal" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                        } else if(appointment_flag == 3){
                            appointment_flag = "已取消";
                        var html = '<button id="cancle" type="button" class="layui-btn layui-btn-danger" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                        } else if(appointment_flag == 4){
                            appointment_flag = "已拒绝";
                        var html = '<button id="cancle" type="button" class="layui-btn layui-btn-disabled" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                        } else if(appointment_flag == 5){
                            appointment_flag = "已完成";
                            var html = '<button id="cancle" type="button" class="layui-btn layui-btn-disabled" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                        }
                        return html;
                    }}
            ]]
            ,page: true
        });
        //搜索按钮事件
        form.on('submit(search)',function(data){

            table.reload('record', {
                where: data.field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
      });

      //取消预约操作
      function cancle(id, appointmentFlag) {
          var data = {id:id, appointmentFlag:appointmentFlag};

          $.ajax({
              type: "POST",
              url: ctx + "student/cancle",
              data: JSON.stringify(data),
              dataType: "json",
              contentType:"application/json",
              success: function(result){
                  if(200==result.code){
                      layer.alert(result.msg, {icon: 6},function () {
                          //重新加载页面
                          location.reload();
                      });
                  }else{
                      layer.msg(result.msg, {
                          time: 2000,
                          btn: ['返回']
                      });
                  }
              }
          });
      }

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
  </body>

</html>