<!DOCTYPE html>
<html class="x-admin-sm" lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-body" style="width: 650px; position: relative; left:25%;">
    <input type="text" hidden="hidden" id="stuId" th:value="${student.stuId}"/>
    <form class="layui-form" th:align="center">
        <div class="layui-form-item">
            <label for="oldPwd" class="layui-form-label">
                <span class="x-red">*</span>旧密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="oldPwd" name="oldPwd" lay-verify="pass"
                       autocomplete="off" class="layui-input" placeholder="密码">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="newPwd" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="newPwd" name="newPwd" lay-verify="pass"
                       autocomplete="off" class="layui-input" placeholder="新密码">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="comfirmPwd" class="layui-form-label">
                <span class="x-red">*</span>确认
            </label>
            <div class="layui-input-inline">
                <input type="password" id="comfirmPwd" name="comfirmPwd" lay-verify="repass"
                       autocomplete="off" class="layui-input" placeholder="确认新密码">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button  class="layui-btn" lay-filter="edit" lay-submit="">
                    修改密码
                </button>
            </div>
            <div class="layui-input-inline">
                <a href="/student/found_password" data-toggle="modal" style="float: left">我忘记了我的密码</a>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/driversystem/common/mailCode.js}"></script>
<script th:src="@{/js/driversystem/common/verifyInput.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]]
</script>
<script>

    layui.use(['form','layer'], function(){
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#newPwd').val()!=$('#comfirmPwd').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(edit)', function(data){

            var stuId = $("#stuId").val();
            var oldPwd = $("#oldPwd").val();
            var newPwd = $("#newPwd").val();
            console.log(oldPwd);
            console.log(newPwd);

            var data = {stuId:stuId,
                stuPwd:oldPwd,
                stuNewPwd:newPwd
            };

            console.log(data);

            //修改学员密码
            $.ajax({
                type: "POST",
                url: ctx + "student/editSutPwd",
                data: JSON.stringify(data),
                // data: data,
                dataType: "json",
                contentType:"application/json",
                success: function(result){
                    if(200==result.code){
                        layer.alert(result.msg, {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            //重新加载页面
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {
                            time: 2000, //2s后自动关闭
                        });
                    }
                }
            });

            return false;
        });

    });
</script>
</body>

</html>