<!DOCTYPE html>
<html class="x-admin-sm" lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
		<div class="searchTable">        
		<div class="layui-inline">
			<input class="layui-input" placeholder="请输入报名日期" name="start" id="start">
		</div>
		<div class="layui-inline">
          	<input type="text" name="username" id="username"  placeholder="请输入姓名" autocomplete="off" class="layui-input">
		</div>
          	<button class="layui-btn"  data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div> 
      </div>
<!--       <xblock> -->
<!--         <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
<!--         <button class="layui-btn" onclick="x_admin_show('添加用户','./admin-add.html')"><i class="layui-icon"></i>添加</button> -->
<!--         <span class="x-right" style="line-height:40px">共有数据：88 条</span> -->
<!--       </xblock> -->
      <table id="test" class="layui-hide" lay-filter="grid">
      </table>
        <input type="hidden" id="teaId" th:value="${teaId}" />

    </div>
    <script th:inline="javascript">
      var ctx = [[@{/}]]
    </script>
    <script>
      layui.use(['table','laydate'], function(){
        var laydate = layui.laydate
        	,table = layui.table;
        var teaId=$("#teaId").val();
      	var stu_name=$("#username").val();
      	var bm_date = $("#start").val();
	  	  table.render({
	  	    elem: '#test',
	  	    method:'post',
	  	    id:'allAttTable',
   	        url: ctx + 'teacher/appointment_teaId', //请求数据的地址
  	        dataType: "json", //返回数据形式为json
//   	        data:{'teaId':teaId,'stu_name':stu_name},
			where: {'teaId':teaId,'stu_name':stu_name,'bm_date':bm_date},
			limits: [5, 10, 20, 30, 40, 50, 60, 70, 80, 90],
			limit: 5,
			response: {
                statusCode: 200, //成功的状态码，默认：0
                statusName: 'code' ,// 对应 code
                msgName: 'msg'  , // 对应 msg
                countName: 'count' , // 对应 count
                dataName: 'data'  // 对应 data
            },
	  	    cols: [
	  	    	[
// 	  	    	   {type:'checkbox'}
// 	  	    	   {field:'stuId', title: '学员ID'},
			       {field:'stu_name', title: '姓名',align:'center'}
			      ,{field:'subject', title: '科目',align:'center'}
			      ,{field:'appointment_start', title: '预约开始时间',align:'center'}
			      ,{field:'appointment_end', title: '预约结束时间',align:'center'}
			      ,{field:'boarding_time', title: '学员上车时间',align:'center', templet:function (d) {
                      var boarding_time = d.boarding_time;
                      if(boarding_time == null) {
                          appointment_flag = "未上车";
                      }
                      return appointment_flag;
                  }}
			      ,{field:'alighting_time', title: '学员下车时间',align:'center', templet:function (d) {
                      var alighting_time = d.alighting_time;
                      if(alighting_time == null) {
                          appointment_flag = "未下车";
                      } 
                      return appointment_flag;
                  }}
			      ,{field:'appointment_flag', title: '预约状态',align:'center', sort: true, templet:function (d) {
                      var appointment_flag = d.appointment_flag;
                      if(appointment_flag == 1) {
                          appointment_flag = "预约中";
                      } else if(appointment_flag == 2) {
                          appointment_flag = "预约成功";
                      } else if(appointment_flag == 3){
                          appointment_flag = "已取消";
                      } else if(appointment_flag == 4){
                          appointment_flag = "已拒绝";
                      }else if(appointment_flag == 5){
                          appointment_flag = "已完成";
                      }
                      return appointment_flag;
                  }}
			      , {field:'appointment_flag', title: '预约状态',align:'center', templet:function (d) {
                      var appointment_flag = d.appointment_flag;
                      var id = d.id;
                      if(appointment_flag == 1) {
                          appointment_flag = "拒&nbsp;&nbsp;&nbsp;绝&nbsp;";
//                           
                      var appointment_flag_1 = "同&nbsp;&nbsp;&nbsp;意&nbsp;";
                      var html ='<button id="Agree" type="button" class="layui-btn" name="'+appointment_flag_1+'" value="'+id+'" onClick="Agree(this.value, this.name)">'+appointment_flag_1+'</button>'+ '<button id="cancle" type="button" class="layui-btn" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                      } else if(appointment_flag == 2){
                          appointment_flag = "已预约";
                      var html = '<button id="cancle" type="button" class="layui-btn layui-btn-normal" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                      }else if(appointment_flag == 3){
                          appointment_flag = "已取消";
                      var html = '<button id="cancle" type="button" class="layui-btn layui-btn-disabled" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                      } else if(appointment_flag == 4){
                          appointment_flag = "已拒绝";
                      var html = '<button id="cancle" type="button" class="layui-btn layui-btn-danger" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                      }else if(appointment_flag == 5){
                          appointment_flag = "已完成";
                          var html = '<button id="cancle" type="button" class="layui-btn layui-btn-normal" name="'+d.appointment_flag+'" value="'+id+'" onClick="cancle(this.value, this.name)">'+appointment_flag+'</button>';
                          }
                      return html;
                  }}
	  	    ]
	  	    	]
	  		,even:true
	  		,page:{ //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
	  	      layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
	        //,curr: 5 //设定初始在第 5 页
	        ,groups: 1 //只显示 1 个连续页码
	        ,first: false //不显示首页
	        ,last: false //不显示尾页
	      }
	  	  });
	  	  // 排序监听
	  	table.on('sort(grid)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  		// console.log(obj.field); //当前排序的字段名
            // console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            // console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('allAttTable', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
            });
        });
	  	  var active={
  			  reload:function (){
  				 var teaId=$("#teaId").val();
  		      	 var stu_name=$("#username").val();
  		      	 var bm_date = $("#start").val();
  		      	 var index =layer.msg('查询中',{icon: 16,time:false,shade:0});
  		      	 setTimeout(function(){
  		      		 table.reload('allAttTable',{
  		      			 where:{
  		      				'teaId':teaId,'stu_name':stu_name,'bm_date':bm_date
  		      			 }
  		      		 });
  		      		 	layer.close(index);
  		      	 },800);
  			  }
	  	  }
	  	  
		$('.searchTable .layui-btn').on('click',function(){
			var type=$(this).data('type');
			active[type] ? active[type].call(this) :'';
		})
		
        //执行一个laydate实例  时间控件
        laydate.render({
          elem: '#start', //指定元素
          range: true
        });
      });
      
    //取消预约操作
      function cancle(id, appointmentFlag) {
          var data = {id:id, appointmentFlag:appointmentFlag};

          $.ajax({
              type: "POST",
              url: ctx + "teacher/teaCancle",
              data: JSON.stringify(data),
              dataType: "json",
              contentType:"application/json",
              success: function(result){
                  if(200==result.code){
                      layer.alert(result.msg, {icon: 6},function () {
                          //重新加载页面
                          location.reload();
                      });
                  }else{
                      layer.msg(result.msg, {
                          time: 2000,
                          btn: ['返回']
                      });
                  }
              }
          });
      }
      
      //确定预约操作
        function Agree(id, appointmentFlag_1) {
            var data = {id:id, appointmentFlag:appointmentFlag_1};

            $.ajax({
                type: "POST",
                url: ctx + "teacher/teaCancle",
                data: JSON.stringify(data),
                dataType: "json",
                contentType:"application/json",
                success: function(result){
                    if(200==result.code){
                        layer.alert(result.msg, {icon: 6},function () {
                            //重新加载页面
                            location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {
                            time: 2000,
                            btn: ['返回']
                        });
                    }
                }
            });
        }
      
       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }
		
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }

      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>

  </body>

</html>